
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lab_project</title>
</head>
<body>
<header>
      <div id="body1">
            <img src="img/head001.png">
         </div>

</header>
<main>
<button type="button" class="main-btn">CHECK AVAILABILITY</button>
<button type="button" class="main-btn">STUDENT RECORD</button>
<button type="button" class="main-btn">START PRACRICAL</button>
<button type="button" class="main-btn">EXAM</button>
<button type="button" class="main-btn">EXPORT RECORD</button>
<button type="button" class="main-btn">ADD ACCESS</button>

</main> 
</body>
</html>
